<form action="">
    <p>-Valor do Dolar Hoje-</p>
    <label for="idNome">Valor: </label>
    <input type="text" id="idValor" name="nmValor">

    <input type="submit" value="Enviar" >

</form>